<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="bg-light">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand text-info" href="/questions">HiPY</a>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/questions">Main Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/user-center">User Center</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            
          </ul>
          <a routerLink="/create">
            <button class=" btn btn-outline-info align-items-right btn-md">
                Create
              </button>
            </a>
            &nbsp;&nbsp;
            <a routerLink="/search">
              <button class="btn btn-outline-info align-items-right btn-md">
              Search
              </button>
            </a>
        </div>
      </nav>

      <div class="nav-scroller bg-white box-shadow">
          <nav class="nav nav-underline">
            <a class="nav-link" href="/questions">Main Page</a>
            <a class="nav-link active" href="/user-center">
              Following
              <!-- <span class="badge badge-pill bg-light align-text-bottom">27</span> -->
            </a>
            <a class="nav-link" href="assets/README.md">README</a>
            
          </nav>
        </div>

        <main role="main" class="container">
            <div class="my-3 p-3 bg-white rounded box-shadow">
              <h5 class="border-bottom border-gray text-secondary pb-3 mb-2">Questions Following</h5>
              <ul>
                  <li *ngFor="let question of myQuestions">
                  <div class="media text-muted pt-4">
                <img src="assets/star.jpg" alt="" width="48" height="48" class="mr-2 rounded ">
                <p class="media-body pb-4 mb-3 medium lh-125 border-bottom border-gray align-items-left">
                  <a  class = "titleId" href="/details/{{ question.id }}">
                  <strong class="d-block text-gray-dark">{{ question.title }}</strong>
                  </a>
                  {{ question.description }}
                </p>
                <div class="d-flex justify-content-between w-3">
                    <a href="/details/{{ question.id }}">
                      <button class="btn btn-outline-secondary align-items-right btn-md">
                          View
                          </button>
                    </a>
                  </div>
              </div>
              </li>
            </ul>
          </div>
            </main>