<p>
  passwordless-auth works!
</p>

<ng-container *ngIf="(user | async); else login">
  <div class="notification is-success">
    Congrats You logged in without a password!
  </div>

  <nav>
    <a routerLink="/questions">Questions(Testing)</a>
  </nav>

  <!-- <h2> Following Questions </h2>
  <ul id="questionlist">
    <li *ngFor="let question of myQuestions">
      {{ question.title }}
      <br />
      {{ question.description }}

      <a href="/details/{{ question.id }}">
        <button> View </button>
      </a>
      <button (click)="deleteQues4User(question)"> Unfollow </button>
    </li>
  </ul> -->

  <button (click)="logout()" class="button">Signout</button>
</ng-container>

<ng-template #login>
  <label for="email" class="label">Passwordless Auth</label><br />
  <input type="email" class="input" [(ngModel)]="email" />

  <hr />

  <button
    class="button is-primary"
    [disabled]="emailSent"
    (click)="sendEmailLink(email)"
  >
    Get Login Link
  </button>

  <hr />

  <div *ngIf="emailSent" class="notification is-info">
    Cool! We sent you an email with your login link
  </div>

  <div *ngIf="errorMessage" class="notification is-danger">
    {{ errorMessage }}
  </div>
</ng-template>
