<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

          <ng-container *ngIf="(user | async); else login">
            <div class="notification is-success">
              Congrats You logged in without a password!
            </div>
          
            <nav>
              <a routerLink="/questions">Questions(Testing)</a>
            </nav>
          
            <!-- <h2> Following Questions </h2>
            <ul id="questionlist">
              <li *ngFor="let question of myQuestions">
                {{ question.title }}
                <br />
                {{ question.description }}
                <a href="/details/{{ question.id }}">
                  <button> View </button>
                </a>
                <button (click)="deleteQues4User(question)"> Unfollow </button>
              </li>
            </ul> -->
          
            <button (click)="logout()" class="button">Signout</button>
          </ng-container>
          
          <ng-template #login>
            <label for="email" class="label">Passwordless Auth</label><br />
            <input type="email" class="input" [(ngModel)]="email" />
          
            <hr />
          
            <button
              class="button is-primary"
              [disabled]="emailSent"
              (click)="sendEmailLink(email)"
            >
              Get Login Link
            </button>
          
            <hr />
          
            <div *ngIf="emailSent" class="notification is-info">
              Cool! We sent you an email with your login link
            </div>
          
            <div *ngIf="errorMessage" class="notification is-danger">
              {{ errorMessage }}
            </div>
          </ng-template>