<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>


          <ng-container *ngIf="(user | async); else login">     
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
            <a class="navbar-brand text-info" href="/questions">HiPY</a>
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/questions">Main Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user-center">User Center</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Change Theme</a>
                </li>
              </ul>
                <a routerLink="/search">
                  <button class="btn btn-outline-info align-items-right btn-md">
                  Search
                  </button>
                </a>
            </div>
          </nav>
          <!-- header is above -->
          <div class="container">
              <div class="d-flex justify-content-center h-100">
                <div class="card">
                  <div class="card-header">
                    <h3>Congratulations!<br/> You logged in without a password!</h3>
                  </div>
                  <div class="card-body">
                        <br />
                      <br />
                      <a routerLink="/questions">
                        <button class="btn btn-outline-info align-items-right btn-md d-flex justify-content-center">
                        Main Page
                        </button>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          
    
            <!-- <h2> Following Questions </h2>
            <ul id="questionlist">
              <li *ngFor="let question of myQuestions">
                {{ question.title }}
                <br />
                {{ question.description }}
                <a href="/details/{{ question.id }}">
                  <button> View </button>
                </a>
                <button (click)="deleteQues4User(question)"> Unfollow </button>
              </li>
            </ul> -->
          
            <button (click)="logout()" class="button">Signout</button>
          </ng-container>
          
          <ng-template #login>   
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
            <a class="navbar-brand text-info" href="/login">HiPY</a>
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link text-secondary" href="/login">Login</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- header is above -->
              <div class="container">
                  <div class="d-flex justify-content-center h-100">
                    <div class="card">
                      <div class="card-header">
                        <h3>Sign up using email</h3>
                      </div>
                      <div class="card-body">
                            <br />
                          <div class="input-group form-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <label for="email" class="label"></label><br />
                            <!-- <input type="email" class="input form-control" [(ngModel)]="email" /> -->
                            <input type="email" class="form-control input"  [(ngModel)]="email"  placeholder="email@purdue.edu">
                          </div>
                          <div class="row align-items-center remember">
                              <br />
                            <input type="checkbox">Remember Me
                          </div>
                          <br />
                          <button
              class="btn btn-outline-info align-items-right btn-md is-primary btn-md"
              [disabled]="emailSent"
              (click)="sendEmailLink(email)">
              Get Login Link </button>
                        
                      </div>
                      <div class="card-footer">
                          <div *ngIf="emailSent" class="d-flex justify-content-center text-light">
                              Cool! We sent you an email with your login link
                            </div>
                          <div *ngIf="errorMessage" class="d-flex justify-content-center text-light">
                              Please enter a valid email
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
          </ng-template>
        </body>