<h2>Question</h2>
{{ myQuestion.id }}
<br />
{{ myQuestion.title }}
<br />
{{ myQuestion.description }}
<a routerLink="/edit-question/{{ myQuestion.id }}">
  <button class="edit" title="edit question">
    edit
  </button>
</a>

<h2>Answers</h2>
<ul id="answerlist">
  <li *ngFor="let answer of myAnswers">
    {{ answer.user }}
    <br />
    {{ answer.response }}

    <button
      *ngIf="answer.user === currentUser"
      class="delete"
      title="delete answer"
      (click)="deleteanswer(answer)"
    >
      delete
    </button>

    <a routerLink="/edit-answer/{{ myQuestion.id }}/{{ answer.id }}">
      <button
        *ngIf="answer.user === currentUser"
        class="edit"
        title="edit answer"
      >
        edit
      </button>
    </a>
  </li>
</ul>

<a routerLink="/create-answer/{{ myQuestion.id }}">
  <button>
    Add answer
  </button>
</a>
